<h1>Download</h1>
{% if releases %}
<h2>
    Latest version ({{ releases[0].name }})<br>
    <a href="{{ releases[0].download_x64 }}">Download for x64</a><br>
    <a href="{{ releases[0].url }}">Release notes</a>
</h2>
<h3>All versions</h3>
<table>
    <tbody>
        <tr>
            <th>Version</th>
            <th>Date</th>
            <th>Release notes</th>
            <th>Downloads</th>
        </tr>
        {% if releases|length == 0 %}
        <tr>
            <td colspan="4">No releases to display</td>
        </tr>
        {% else %}
        {% for release in releases %}
        <tr>
            <td>{{ release.name }}</td>
            <td>{{ release.date }}</td>
            <td>
                <a href="{{ release.url }}">See on GitHub</a>
            </td>
            <td>
                <a href="{{ release.download_x64 }}">x64</a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<br>
{% else %}
<p>Couldn't get the list of releases.</p>
{% endif %}
<a href="https://github.com/get-ntmu/NTMU/releases">See all releases on GitHub</a>